{% extends "base.html" %}

{% block head %}
    <title>Flare | Create</title>
    <style>
        .narrow h2{
            display: inline;
        }
        .narrow *{
            float: left;
            clear: both;
        }

    </style>

{% endblock %}

{% block body %}
    <div class="narrow">
        <h2>Create a flare</h2>
        <form class="form" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
    <br>
    <input type="submit" value="Create">
    </form>
    </div>
{% endblock %}
